@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: NovaMono;
  src: url('/NovaMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


html {
    font-family: NovaMono, monospace;
    @apply
    from-sky-900 to-indigo-900 bg-gradient-to-b text-sky-200 text-xl h-full
}
